.vs/DrDWebAPP/FileContentIndex/8f3ecf27-4cd4-4b2e-9e9e-0cda7f443bfd.vsidx
DrDWebAPP/obj/Debug/net9.0/DrDWebAPP.AssemblyInfo.cs
DrDWebAPP/obj/Debug/net9.0/DrDWebAPP.AssemblyInfoInputs.cache
DrDWebAPP/obj/Debug/net9.0/DrDWebAPP.assets.cache
DrDWebAPP/obj/Debug/net9.0/DrDWebAPP.GeneratedMSBuildEditorConfig.editorconfig
DrDWebAPP/obj/Debug/net9.0/rpswa.dswa.cache.json
DrDWebAPP/obj/DrDWebAPP.csproj.nuget.dgspec.json
DrDWebAPP/obj/project.assets.json
DrDWebAPP/obj/project.nuget.cache
