html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.scroll-input {
    width: 300px;
    height: 40px;
    overflow-x: auto;
    white-space: nowrap;
}
.top-center-banner {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffeb3b;
    color: #000;
    padding: 1rem 2rem;
    border-bottom: 2px solid #999;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    font-weight: bold;
    text-align: center;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.table + .table {
    margin-top: 2rem;
}

/* Volite¾né štýly pre tlaèidlá */
.button-container button {
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

    .button-container button:hover {
        background-color: #0056b3;
    }

